body {
    background-color: #25292C;
}

h3 {
    color: #e7ebec;
    font-family: 'Amatic SC', cursive;
    font-size: 300%;
    margin: auto;
}

.elinput {
    padding-left: 150px;
    display: flex;
}

button {
    background: none;
    /* Green */
    border: none;
    color: #e7ebec;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Add btn */

.submit-btn {
    width: 100px;
    height: 50px;
    background-color: #4d5358d5;
    border-radius: 4px;
    margin-left: 3px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #7d848ad5;
}

/* Google fonts */
.submit-btn,
#clear-btn,
article,
input {
    color: #e7ebec;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

input[type="text"] {
    border: solid 1px;
    border-width: thin;
    border-radius: 5px;
    background-color: #54606985;
    outline-color: rgba(46, 240, 95, 0.4);
}

.content {
    width: 800px;
    height: 600px;
    margin: auto;
    border: solid 1px;
    border-width: thin;
    border-radius: 5px;
    border-color: rgba(120, 125, 129, 0.418);
    box-shadow: rgba(46, 240, 95, 0.4) -5px 5px, rgba(46, 240, 88, 0.3) -10px 10px, rgba(46, 240, 78, 0.2) -15px 15px, rgba(46, 240, 149, 0.1) -20px 20px, rgba(46, 240, 78, 0.05) -25px 25px;
    /* Box-shadow Animation */
    animation: mymove 3s infinite;
}

.card {
    width: 500px;
    height: 550px;
    margin: auto;
    text-align: center;
}

.alert {
    margin: auto;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: large;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    color: #e7ebec;
    font-family: 'Amatic SC', cursive;
}

.grocery-form {
    width: 500px;
    height: 150px;
}

.grocery-container {
    width: 500px;
    height: 400px;
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

#grocery-list {
    width: 500px;
    height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}

.itemRow {
    width: 500px;
    position: relative;
    text-align: left;
    display: flex;
}

.btn-container {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 8px;
    margin-top: 8px;
}

/* Clear btn */

#clear-btn {
    cursor: pointer;
    transition: 1s;
}

#clear-btn:hover {
    color: #af2c27b6;
    transition: 1s;
}

.success {
    background-color: rgba(0, 255, 0, 0.562);
}

.danger {
    background-color: rgba(221, 13, 13, 0.507);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(46, 240, 88, 0.589);
    border-radius: 10px;
}

/* Box-shadow Animation */

@keyframes mymove {
    50% {
        box-shadow: none;
    }
}