body {
    background-color: #25292C;
}

h4,
article {
    color: #D0D3D4;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

.content {
    width: 800px;
    height: 600px;
    margin: auto;
    border: solid 1px;
    border-width: thin;
    border-radius: 5px;
    border-color: rgba(120, 125, 129, 0.418);
    box-shadow: rgba(46, 240, 95, 0.4) -5px 5px, rgba(46, 240, 88, 0.3) -10px 10px, rgba(46, 240, 78, 0.2) -15px 15px, rgba(46, 240, 149, 0.1) -20px 20px, rgba(46, 240, 78, 0.05) -25px 25px;
}

.card {
    width: 500px;
    height: 550px;
    margin: auto;
    text-align: center;
}

.alert {
    margin: auto;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}

.grocery-form {
    width: 500px;
    height: 200px;
}

.grocery-container {
    width: 500px;
    height: 350px;
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

#grocery-list {
    width: 500px;
    height: 325px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.itemRow {
    width: 500px;
    position: relative;
    text-align: left;
    display: flex;
}

.btn-container {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0px;
}

.success {
    background-color: rgb(124, 207, 124);
}

.danger {
    background-color: rgb(165, 87, 87);
}