body {
    background-color: #25292C;
}

.content {
    width: 800px;
    height: 600px;
    margin: auto;
    border: solid 1px;
    border-width: thin;
    border-radius: 5px;
    border-color: rgba(120, 125, 129, 0.418);
}

.card {
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgb(241, 231, 231);
    border-radius: 4px;
}

.alert {
    margin: auto;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}

.grocery-container {
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

.itemRow {
    width: 500px;
    position: relative;
    text-align: left;
    display: flex;
}

.btn-container {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0px;
}

.success {
    background-color: rgb(124, 207, 124);
}

.danger {
    background-color: rgb(165, 87, 87);
}